NodeRED.json
[
    {
        "id": "a4c183a95164db51",
        "type": "tab",
        "label": "D0 (Dot Zero Mode)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dc076277db143607",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "Array2Str",
        "func": "msg.typeid = msg.payload.slice(0,3).join()\nmsg.timid = parseInt(msg.payload.slice(39,55)[15]);\nmsg.sample = msg.payload.slice(57, 61);\nmsg.teds = msg.payload.slice(61)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 120,
        "wires": [
            [
                "adafa614399b6d2e",
                "40a0670e137cf6b4"
            ]
        ]
    },
    {
        "id": "c7583948860ccdb6",
        "type": "debug",
        "z": "a4c183a95164db51",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 400,
        "wires": []
    },
    {
        "id": "b4b4fbcd349c97ec",
        "type": "ui_toast",
        "z": "a4c183a95164db51",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2010,
        "y": 1600,
        "wires": []
    },
    {
        "id": "bf918d6a9f2f1804",
        "type": "ui_toast",
        "z": "a4c183a95164db51",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 870,
        "y": 460,
        "wires": []
    },
    {
        "id": "2409118d90faf447",
        "type": "switch",
        "z": "a4c183a95164db51",
        "name": "",
        "property": "timid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1130,
        "y": 260,
        "wires": [
            [
                "629390aa10a785d3"
            ],
            [
                "3371b763e3b11851"
            ]
        ]
    },
    {
        "id": "7ce46b8dbc03ff46",
        "type": "debug",
        "z": "a4c183a95164db51",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1830,
        "y": 1720,
        "wires": []
    },
    {
        "id": "34ec58c9942e20cd",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "3a3f9853.90cc98",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "read TEDS (Temp) (3,2) · TIM3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 1820,
        "wires": [
            [
                "cc00000000000009"
            ]
        ]
    },
    {
        "id": "7fa3e401202cf7ba",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "3a3f9853.90cc98",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "read TEDS (Humid) (3,2) · TIM4",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 1860,
        "wires": [
            [
                "cc0000000000000a"
            ]
        ]
    },
    {
        "id": "d542f8e0b35fddcc",
        "type": "debug",
        "z": "a4c183a95164db51",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 200,
        "wires": []
    },
    {
        "id": "7a901a05159d97a0",
        "type": "debug",
        "z": "a4c183a95164db51",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "timid",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 160,
        "wires": []
    },
    {
        "id": "30fd5a99a9e5d16e",
        "type": "debug",
        "z": "a4c183a95164db51",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "typeid",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 120,
        "wires": []
    },
    {
        "id": "1e46a66b9925cc0d",
        "type": "debug",
        "z": "a4c183a95164db51",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "teds",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 80,
        "wires": []
    },
    {
        "id": "adafa614399b6d2e",
        "type": "switch",
        "z": "a4c183a95164db51",
        "name": "",
        "property": "typeid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "2,1,2",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "3,2,2",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 260,
        "wires": [
            [
                "2409118d90faf447"
            ],
            [
                "e43c104db6933a01",
                "5015450ad575358c"
            ]
        ]
    },
    {
        "id": "db422cf5094a66ef",
        "type": "ui_text",
        "z": "a4c183a95164db51",
        "group": "3a3f9853.90cc98",
        "order": 9,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "D0 TEDS",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1640,
        "y": 440,
        "wires": []
    },
    {
        "id": "611907424fd0e7cc",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "ArrayJoin",
        "func": "msg.payload = msg.payload.join()\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1820,
        "y": 1600,
        "wires": [
            [
                "b4b4fbcd349c97ec"
            ]
        ]
    },
    {
        "id": "611ded86214b1bb3",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "ArrayJoin",
        "func": "msg.payload = msg.payload.join()\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 460,
        "wires": [
            [
                "bf918d6a9f2f1804"
            ]
        ]
    },
    {
        "id": "b67efba2521a75b3",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "3a3f9853.90cc98",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "read TEDS (Security) (3,2) · TIM3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1940,
        "wires": [
            [
                "cc0000000000000c"
            ]
        ]
    },
    {
        "id": "3371b763e3b11851",
        "type": "template",
        "z": "a4c183a95164db51",
        "name": "sample",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{sample}}",
        "output": "str",
        "x": 1420,
        "y": 340,
        "wires": [
            [
                "dc38bd8551277538"
            ]
        ]
    },
    {
        "id": "629390aa10a785d3",
        "type": "template",
        "z": "a4c183a95164db51",
        "name": "sample",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{sample}}",
        "output": "str",
        "x": 1420,
        "y": 260,
        "wires": [
            [
                "dddcc4ff24cc83e2",
                "56177542faade842"
            ]
        ]
    },
    {
        "id": "e43c104db6933a01",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "byte2string",
        "func": "const bytes = new Uint8Array(msg.teds);\nlet te = Array.from(bytes, byte => byte.toString(16).padStart(2, '0').toUpperCase()).join('');\nlet res = '';\nfor (let i = 0; i < te.length; i += 20){\n    res += te.substr(i, 20)+' ';\n}\nmsg.teds = res.trim();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 440,
        "wires": [
            [
                "4f84dd09a1e8ca24"
            ]
        ]
    },
    {
        "id": "4f84dd09a1e8ca24",
        "type": "template",
        "z": "a4c183a95164db51",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{teds}}",
        "output": "str",
        "x": 1420,
        "y": 440,
        "wires": [
            [
                "db422cf5094a66ef",
                "6c44b6a7e4ae2ddd"
            ]
        ]
    },
    {
        "id": "83f14fb1506b84e0",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "3a3f9853.90cc98",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "read TEDS (Channel) (3,2) · TIM3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "str",
        "x": 190,
        "y": 2020,
        "wires": [
            [
                "cc0000000000000d"
            ]
        ]
    },
    {
        "id": "43eb5e963ed23654",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "3a3f9853.90cc98",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "read TEDS (Meta) (3,2) · TIM3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "str",
        "x": 180,
        "y": 1980,
        "wires": [
            [
                "cc0000000000000e"
            ]
        ]
    },
    {
        "id": "299d20ad096d1f15",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "3a3f9853.90cc98",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "read TEDS (Name) (3,2) · TIM3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "str",
        "x": 180,
        "y": 2060,
        "wires": [
            [
                "cc0000000000000f"
            ]
        ]
    },
    {
        "id": "40a0670e137cf6b4",
        "type": "switch",
        "z": "a4c183a95164db51",
        "name": "",
        "property": "typeid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "2,1,2",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "3,2,2",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 120,
        "wires": [
            [
                "8d33ac0fce4f74f3"
            ],
            [
                "8d33ac0fce4f74f3"
            ]
        ]
    },
    {
        "id": "8d33ac0fce4f74f3",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 120,
        "wires": [
            [
                "30fd5a99a9e5d16e",
                "7a901a05159d97a0",
                "1e46a66b9925cc0d",
                "d542f8e0b35fddcc"
            ]
        ]
    },
    {
        "id": "5015450ad575358c",
        "type": "debug",
        "z": "a4c183a95164db51",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 480,
        "wires": []
    },
    {
        "id": "db1b9b21bbad0810",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "3a3f9853.90cc98",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "read TEDS (Phys) (3,2) · TIM3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "str",
        "x": 180,
        "y": 2100,
        "wires": [
            [
                "cc00000000000010"
            ]
        ]
    },
    {
        "id": "dddcc4ff24cc83e2",
        "type": "debug",
        "z": "a4c183a95164db51",
        "name": "TEMP",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1630,
        "y": 300,
        "wires": []
    },
    {
        "id": "dc38bd8551277538",
        "type": "debug",
        "z": "a4c183a95164db51",
        "name": "HUMID",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 380,
        "wires": []
    },
    {
        "id": "6c44b6a7e4ae2ddd",
        "type": "debug",
        "z": "a4c183a95164db51",
        "name": "TEDS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1630,
        "y": 480,
        "wires": []
    },
    {
        "id": "56177542faade842",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "math.round",
        "func": "msg.payload = Math.round(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "2c82d028dfcd26a6",
        "type": "mqtt in",
        "z": "a4c183a95164db51",
        "name": "",
        "topic": "_1451.1.6/D0/PTTEST/ncap0",
        "qos": "1",
        "datatype": "auto",
        "broker": "39d5aa93d6951ccb",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 180,
        "y": 120,
        "wires": [
            [
                "74be0c85ff4645ea",
                "00a1510000000013"
            ]
        ]
    },
    {
        "id": "74be0c85ff4645ea",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "THRU",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 120,
        "wires": [
            [
                "dc076277db143607",
                "c7583948860ccdb6",
                "611ded86214b1bb3"
            ]
        ]
    },
    {
        "id": "00a1510000000004",
        "type": "mqtt out",
        "z": "a4c183a95164db51",
        "name": "D0 EXT out",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "39d5aa93d6951ccb",
        "x": 1830,
        "y": 1660,
        "wires": []
    },
    {
        "id": "00a1510000000006",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg00000000000008",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "NCAP discovery (1,8) · NCAP",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#6a1b9a",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 170,
        "y": 840,
        "wires": [
            [
                "cd00000000000001"
            ]
        ]
    },
    {
        "id": "00a1510000000008",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg00000000000008",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "TIM discovery (1,9) · NCAP",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#6a1b9a",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 160,
        "y": 880,
        "wires": [
            [
                "cd00000000000002"
            ]
        ]
    },
    {
        "id": "00a151000000000a",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg00000000000008",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "XDCR discovery (1,10) · TIM3",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#6a1b9a",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 180,
        "y": 920,
        "wires": [
            [
                "cd00000000000003"
            ]
        ]
    },
    {
        "id": "00a151000000000c",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg00000000000009",
        "order": 15,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "multi-ch read (2,5) · TIM3+TIM4",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#2e7d32",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 160,
        "y": 1180,
        "wires": [
            [
                "cd00000000000004"
            ]
        ]
    },
    {
        "id": "00a151000000000e",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg00000000000009",
        "order": 16,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "block read (2,6) · TIM3",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#2e7d32",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 150,
        "y": 1220,
        "wires": [
            [
                "cd00000000000005"
            ]
        ]
    },
    {
        "id": "00a1510000000010",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg0000000000000b",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "event subscribe (4,1) · TIM3",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#e65100",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 170,
        "y": 2240,
        "wires": [
            [
                "cd00000000000006"
            ]
        ]
    },
    {
        "id": "00a1510000000012",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg0000000000000b",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "heartbeat subscribe (4,10) · NCAP",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#e65100",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 190,
        "y": 2540,
        "wires": [
            [
                "cd00000000000007"
            ]
        ]
    },
    {
        "id": "00a1510000000013",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "D0 EXT decode",
        "func": "var p=msg.payload;\nif(!Buffer.isBuffer(p)){return [null,null];}\nvar t=p[0],i=p[1],m=p[2];\nfunction rs(o){var e=o;while(e<p.length&&p[e]!==0){e++;}return p.slice(o,e).toString();}\nvar label=null,chart=null;\nif(t==1&&i==8&&m==2){label='[NCAP disc rep] ncapId='+p.slice(23,39).toString('hex');}\nelse if(t==1&&i==9&&m==2){label='[TIM disc rep] '+p.toString('hex');}\nelse if(t==1&&i==10&&m==2){label='[XDCR disc rep] '+p.toString('hex');}\nelse if(t==2&&i==5&&m==2){label='[multi read rep] '+p.toString('hex');}\nelse if(t==2&&i==6&&m==2){label='[block read rep] '+p.toString('hex');}\nelse if(t==4&&i==1&&m==2){label='[event sub rep] '+p.toString('hex');}\nelse if(t==4&&i==1&&m==4){var s=rs(59);label='[event NOTIFY] sample='+s;chart=parseFloat(s);}\nelse if(t==4&&i==10&&m==2){label='[heartbeat rep] '+p.toString('hex');}\nelse if(t==4&&i==10&&m==4){label='[heartbeat NOTIFY] '+p.toString('hex');}\nif(label===null){return [null,null];}\nreturn [{payload:label},(chart!==null&&!isNaN(chart))?{payload:chart}:null];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 520,
        "wires": [
            [
                "00a1510000000014"
            ],
            [
                "00a1510000000015"
            ]
        ]
    },
    {
        "id": "00a1510000000014",
        "type": "debug",
        "z": "a4c183a95164db51",
        "name": "D0 EXT reply",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 520,
        "wires": []
    },
    {
        "id": "00a1510000000015",
        "type": "ui_chart",
        "z": "a4c183a95164db51",
        "name": "D0 notify",
        "group": "fg0000000000000b",
        "order": 11,
        "width": "6",
        "height": "5",
        "label": "D0 event notify",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "c800000000000006",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "group": "fg0000000000000b",
        "order": 9,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "event unsubscribe (4,3) · TIM3",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#e65100",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 180,
        "y": 2280,
        "wires": [
            [
                "cd00000000000008"
            ]
        ]
    },
    {
        "id": "c800000000000008",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "group": "fg0000000000000b",
        "order": 10,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "heartbeat unsubscribe (4,12) · NCAP",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#e65100",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 190,
        "y": 2600,
        "wires": [
            [
                "cd00000000000009"
            ]
        ]
    },
    {
        "id": "ca00000000000001",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "D0 binary encode",
        "func": "var a=[];\nfunction p(){for(var i=0;i<arguments.length;i++)a.push(arguments[i]&255);}\nfunction u16(n){p(n>>8,n);}\nfunction u32(n){p(n>>>24,n>>16,n>>8,n);}\nfunction uuid(s){s=(''+s).replace(/^0x/,'');for(var i=0;i<32;i+=2)a.push(parseInt(s.substr(i,2),16));}\nfunction str(s){s=''+s;for(var i=0;i<s.length;i++)a.push(s.charCodeAt(i)&255);a.push(0);}\nvar lp=-1;\n(msg.spec||[]).forEach(function(f){var t=f[0],v=f[1];\n if(t==='u8')p(v);else if(t==='u16')u16(v);else if(t==='u32')u32(v);\n else if(t==='uuid')uuid(v);else if(t==='str')str(v);\n else if(t==='time8'){for(var i=0;i<8;i++)a.push(0);}\n else if(t==='oct'){for(var i=0;i<v.length;i+=2)a.push(parseInt(v.substr(i,2),16));}\n else if(t==='u16a')v.forEach(u16);\n else if(t==='uuida')v.forEach(uuid);\n else if(t==='stra')v.forEach(str);\n else if(t==='len'){lp=a.length;a.push(0,0);}});\nif(lp>=0){var L=a.length-lp-2;a[lp]=(L>>8)&255;a[lp+1]=L&255;}\nmsg.topic=global.get('reqTopicD0');\nmsg.payload=Buffer.from(a);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 1660,
        "wires": [
            [
                "611907424fd0e7cc",
                "00a1510000000004",
                "7ce46b8dbc03ff46"
            ]
        ]
    },
    {
        "id": "ca00000000000003",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "TEDS Query (3,1) [D0]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',3],['u8',1],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T3],['u16',1],['u8',12],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1780,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "ca00000000000004",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "3a3f9853.90cc98",
        "order": 10,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "TEDS query (3,1) · TIM3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 160,
        "y": 1780,
        "wires": [
            [
                "ca00000000000003"
            ]
        ]
    },
    {
        "id": "ca00000000000005",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "TEDS Write (3,3) [D0]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',3],['u8',3],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T3],['u16',1],['u8',60],['u32',0],['time8'],['oct',\"deadbeef\"]];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 2140,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "ca00000000000006",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "3a3f9853.90cc98",
        "order": 11,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "TEDS write (3,3) · TIM3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 160,
        "y": 2140,
        "wires": [
            [
                "ca00000000000005"
            ]
        ]
    },
    {
        "id": "ca00000000000007",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "TEDS Update (3,4) [D0]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',3],['u8',4],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T3],['u16',1],['u8',60],['u32',0],['time8'],['oct',\"cafe\"]];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 2180,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "ca00000000000008",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "3a3f9853.90cc98",
        "order": 12,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "TEDS update (3,4) · TIM3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 160,
        "y": 2180,
        "wires": [
            [
                "ca00000000000007"
            ]
        ]
    },
    {
        "id": "ca0000000000000a",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "Block read 1ch (2,2) [D0]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',2],['u8',2],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T3],['u16',3],['u32',4],['time8'],['time8'],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1060,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "ca0000000000000b",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg00000000000009",
        "order": 9,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "block read 1ch (2,2) · TIM3",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#2e7d32",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 170,
        "y": 1060,
        "wires": [
            [
                "ca0000000000000a"
            ]
        ]
    },
    {
        "id": "ca0000000000000c",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "Sample multi-ch (2,3) [D0]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',2],['u8',3],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T3],['u16',3],['u16a',[1,2,3]],['u8',5],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1100,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "ca0000000000000d",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg00000000000009",
        "order": 11,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "sample multi-ch read (2,3) · TIM3",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#2e7d32",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 190,
        "y": 1100,
        "wires": [
            [
                "ca0000000000000c"
            ]
        ]
    },
    {
        "id": "ca0000000000000e",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "Block multi-ch (2,4) [D0]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',2],['u8',4],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T3],['u16',2],['u16a',[1,3]],['u32',3],['time8'],['time8'],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1140,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "ca0000000000000f",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg00000000000009",
        "order": 13,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "block multi-ch read (2,4) · TIM3",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#2e7d32",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 180,
        "y": 1140,
        "wires": [
            [
                "ca0000000000000e"
            ]
        ]
    },
    {
        "id": "ca00000000000011",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "Block write (2,8) [D0]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',2],['u8',8],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T3],['u16',4],['u8',5],['str',\"70;72;75\"],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1360,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "ca00000000000012",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg00000000000009",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "block write (2,8) · TIM3",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#2e7d32",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 150,
        "y": 1360,
        "wires": [
            [
                "ca00000000000011"
            ]
        ]
    },
    {
        "id": "ca00000000000013",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "Sample multi-ch wr (2,9) [D0]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',2],['u8',9],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T3],['u16',1],['u16a',[4]],['u8',5],['stra',[\"66\"]],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1400,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "ca00000000000014",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg00000000000009",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "sample multi-ch write (2,9) · TIM3",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#2e7d32",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 190,
        "y": 1400,
        "wires": [
            [
                "ca00000000000013"
            ]
        ]
    },
    {
        "id": "ca00000000000015",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "Block multi-ch wr (2,10) [D0]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',2],['u8',10],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T3],['u16',1],['u16a',[4]],['u8',5],['stra',[\"55;58\"]],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1440,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "ca00000000000016",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg00000000000009",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "block multi-ch write (2,10) · TIM3",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#2e7d32",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 180,
        "y": 1440,
        "wires": [
            [
                "ca00000000000015"
            ]
        ]
    },
    {
        "id": "ca00000000000017",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "Multi-TIM write (2,11) [D0]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',2],['u8',11],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['u16',2],['uuida',[T3,T4]],['u16a',[1,1]],['u16a',[4,4]],['u8',5],['stra',[\"44\",\"33\"]],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1480,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "ca00000000000018",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg00000000000009",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "multi-TIM write (2,11) · TIM3+TIM4",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#2e7d32",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 170,
        "y": 1480,
        "wires": [
            [
                "ca00000000000017"
            ]
        ]
    },
    {
        "id": "ca00000000000019",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "Block multi-TIM wr (2,12) [D0]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',2],['u8',12],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['u16',2],['uuida',[T3,T4]],['u16a',[1,1]],['u16a',[4,4]],['u8',5],['stra',[\"22;25\",\"11;15\"]],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1520,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "ca0000000000001a",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg00000000000009",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "block multi-TIM write (2,12) · TIM3+TIM4",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#2e7d32",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 190,
        "y": 1520,
        "wires": [
            [
                "ca00000000000019"
            ]
        ]
    },
    {
        "id": "ca0000000000001c",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "Async block (2,13) [D0]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',2],['u8',13],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T3],['u16',3],['u32',4],['time8'],['time8'],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1560,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "ca0000000000001d",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg0000000000000a",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "async block read (2,13) · TIM3",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#00838f",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 180,
        "y": 1560,
        "wires": [
            [
                "ca0000000000001c"
            ]
        ]
    },
    {
        "id": "ca0000000000001e",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "Async stream (2,15) [D0]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',2],['u8',15],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T3],['u16',3],['u8',5],['time8'],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1620,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "ca0000000000001f",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg0000000000000a",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "async stream read (2,15) · TIM3",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#00838f",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 180,
        "y": 1620,
        "wires": [
            [
                "ca0000000000001e"
            ]
        ]
    },
    {
        "id": "ca00000000000020",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "Async block multi-ch (2,17) [D0]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',2],['u8',17],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T3],['u16',3],['u16a',[1,2,3]],['u32',3],['time8'],['time8'],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1680,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "ca00000000000021",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg0000000000000a",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "async block multi-ch (2,17) · TIM3",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#00838f",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 190,
        "y": 1680,
        "wires": [
            [
                "ca00000000000020"
            ]
        ]
    },
    {
        "id": "ca00000000000022",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "Async block multi-TIM (2,19) [D0]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',2],['u8',19],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['u16',2],['uuida',[T3,T4]],['u16a',[2,2]],['u16a',[1,3,1,3]],['u32',2],['time8'],['time8'],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1720,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "ca00000000000023",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg0000000000000a",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "async block multi-TIM (2,19) · TIM3+TIM4",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#00838f",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 190,
        "y": 1720,
        "wires": [
            [
                "ca00000000000022"
            ]
        ]
    },
    {
        "id": "ca00000000000025",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "Sub multi-ch (4,4) [D0]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',4],['u8',4],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T3],['u16',3],['u16a',[1,2,3]],['str',\"\"],['str',\"app0\"],['time8'],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 2340,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "ca00000000000026",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg0000000000000b",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "event sub multi-ch (4,4) · TIM3",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#e65100",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 180,
        "y": 2340,
        "wires": [
            [
                "ca00000000000025"
            ]
        ]
    },
    {
        "id": "ca00000000000027",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "Unsub multi-ch (4,6) [D0]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',4],['u8',6],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T3],['u16',3],['u16a',[1,2,3]],['u16',0]];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 2400,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "ca00000000000028",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg0000000000000b",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "event unsub multi-ch (4,6) · TIM3",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#e65100",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 190,
        "y": 2400,
        "wires": [
            [
                "ca00000000000027"
            ]
        ]
    },
    {
        "id": "ca00000000000029",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "Sub multi-TIM (4,7) [D0]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',4],['u8',7],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['u16',2],['uuida',[T3,T4]],['u16a',[2,2]],['u16a',[1,3,1,3]],['str',\"\"],['str',\"app0\"],['time8'],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 2440,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "ca0000000000002a",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg0000000000000b",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "event sub multi-TIM (4,7) · TIM3+TIM4",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#e65100",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 180,
        "y": 2440,
        "wires": [
            [
                "ca00000000000029"
            ]
        ]
    },
    {
        "id": "ca0000000000002b",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "Unsub multi-TIM (4,9) [D0]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',4],['u8',9],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['u16',2],['uuida',[T3,T4]],['u16a',[2,2]],['u16a',[1,3,1,3]],['u16',0]];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 2500,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "ca0000000000002c",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg0000000000000b",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "event unsub multi-TIM (4,9) · TIM3+TIM4",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#e65100",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 190,
        "y": 2500,
        "wires": [
            [
                "ca0000000000002b"
            ]
        ]
    },
    {
        "id": "cc00000000000009",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "read TEDS Temp [new]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T1=global.get('T1'),T2=global.get('T2');\nmsg.spec=[['u8',3],['u8',2],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T3],['u16',1],['u8',1],['u32',0],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1820,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "cc0000000000000a",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "read TEDS Humid [new]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T1=global.get('T1'),T2=global.get('T2');\nmsg.spec=[['u8',3],['u8',2],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T4],['u16',1],['u8',1],['u32',0],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1860,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "cc0000000000000c",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "read TEDS Security [new]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T1=global.get('T1'),T2=global.get('T2');\nmsg.spec=[['u8',3],['u8',2],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T3],['u16',1],['u8',16],['u32',0],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1940,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "cc0000000000000d",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "read TEDS Channel [new]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T1=global.get('T1'),T2=global.get('T2');\nmsg.spec=[['u8',3],['u8',2],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T3],['u16',1],['u8',3],['u32',0],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 2020,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "cc0000000000000e",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "read TEDS Meta [new]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T1=global.get('T1'),T2=global.get('T2');\nmsg.spec=[['u8',3],['u8',2],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T3],['u16',1],['u8',1],['u32',0],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1980,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "cc0000000000000f",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "read TEDS Name [new]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T1=global.get('T1'),T2=global.get('T2');\nmsg.spec=[['u8',3],['u8',2],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T3],['u16',1],['u8',12],['u32',0],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 2060,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "cc00000000000010",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "read TEDS Phys [new]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T1=global.get('T1'),T2=global.get('T2');\nmsg.spec=[['u8',3],['u8',2],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T3],['u16',1],['u8',13],['u32',0],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 2100,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "cd00000000000001",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "D0 NCAP discovery [spec]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T1=global.get('T1'),T2=global.get('T2'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',1],['u8',8],['u8',1],['len'],['uuid',APP]];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 840,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "cd00000000000002",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "D0 TIM discovery [spec]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T1=global.get('T1'),T2=global.get('T2'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',1],['u8',9],['u8',1],['len'],['uuid',APP],['uuid',NCAP]];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 880,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "cd00000000000003",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "D0 XDCR discovery [spec]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T1=global.get('T1'),T2=global.get('T2'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',1],['u8',10],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T3]];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 920,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "cd00000000000004",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "D0 Multi-ch read [spec]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T1=global.get('T1'),T2=global.get('T2'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',2],['u8',5],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['u16',2],['uuida',[T3,T4]],['u16a',[1,1]],['u16a',[1,1]],['u8',5],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1180,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "cd00000000000005",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "D0 Block read [spec]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T1=global.get('T1'),T2=global.get('T2'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',2],['u8',6],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['u16',1],['uuida',[T3]],['u16a',[1]],['u16a',[1]],['u32',3],['time8'],['time8'],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1220,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "cd00000000000006",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "D0 Event subscribe [spec]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T1=global.get('T1'),T2=global.get('T2'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',4],['u8',1],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T3],['u16',1],['str',\"\"],['str',\"app0\"],['time8'],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 2240,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "cd00000000000007",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "D0 Heartbeat subscribe [spec]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T1=global.get('T1'),T2=global.get('T2'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',4],['u8',10],['u8',1],['len'],['uuid',APP],['time8'],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 2540,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "cd00000000000008",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "D0 Event unsubscribe [spec]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T1=global.get('T1'),T2=global.get('T2'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',4],['u8',3],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T3],['u16',1],['u16',0]];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 2280,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "cd00000000000009",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "D0 Heartbeat unsubscribe [spec]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T1=global.get('T1'),T2=global.get('T2'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',4],['u8',12],['u8',1],['len'],['uuid',APP]];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 2600,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "f10000000000000e",
        "type": "ui_template",
        "z": "a4c183a95164db51",
        "group": "fg0000000000000c",
        "name": "D0 msg log",
        "order": 1,
        "width": "12",
        "height": "7",
        "format": "<div style=\"font-family:monospace;font-size:11px;white-space:pre-wrap;line-height:1.35;height:330px;overflow-y:auto;width:100%;text-align:left\">{{msg.payload}}</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1710,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "f10000000000000f",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "msg monitor fmt D0",
        "func": "context.set('side','D0');\nvar p=msg.payload,bin=Buffer.isBuffer(p),h,raw;\nif(bin){if(p.length<3)return null;h=[p[0],p[1],p[2]];raw='0x'+p.toString('hex');}\nelse{var f=(''+p).split(',');if(f.length<3)return null;h=[parseInt(f[0]),parseInt(f[1]),parseInt(f[2])];raw=''+p;}\nvar NAMES={\"2,14,4\": \"async_read_block1_cbk\", \"2,13,1\": \"async_read_block1_cmd\", \"2,13,2\": \"async_read_block1_rep\", \"2,18,4\": \"async_read_block_multi1tim_cbk\", \"2,17,1\": \"async_read_block_multi1tim_cmd\", \"2,17,2\": \"async_read_block_multi1tim_rep\", \"2,20,4\": \"async_read_block_multi_cbk\", \"2,19,1\": \"async_read_block_multi_cmd\", \"2,19,2\": \"async_read_block_multi_rep\", \"2,16,4\": \"async_read_stream1_cbk\", \"2,15,1\": \"async_read_stream1_cmd\", \"2,15,2\": \"async_read_stream1_rep\", \"4,1,4\": \"event_notify\", \"4,1,1\": \"event_subscribe_cmd\", \"4,4,1\": \"event_subscribe_multich_cmd\", \"4,4,2\": \"event_subscribe_multich_rep\", \"4,7,1\": \"event_subscribe_multitim_cmd\", \"4,7,2\": \"event_subscribe_multitim_rep\", \"4,1,2\": \"event_subscribe_rep\", \"4,3,1\": \"event_unsubscribe_cmd\", \"4,6,1\": \"event_unsubscribe_multich_cmd\", \"4,6,2\": \"event_unsubscribe_multich_rep\", \"4,9,1\": \"event_unsubscribe_multitim_cmd\", \"4,9,2\": \"event_unsubscribe_multitim_rep\", \"4,3,2\": \"event_unsubscribe_rep\", \"4,10,1\": \"heartbeat_cmd\", \"4,10,4\": \"heartbeat_notify\", \"4,10,2\": \"heartbeat_rep\", \"4,12,1\": \"heartbeat_unsubscribe_cmd\", \"4,12,2\": \"heartbeat_unsubscribe_rep\", \"1,1,8\": \"ncap_abandonment\", \"1,1,3\": \"ncap_announcement\", \"1,1,2\": \"ncap_departure\", \"1,8,1\": \"ncap_discovery_cmd\", \"1,8,2\": \"ncap_discovery_rep\", \"1,1,4\": \"ncap_tim_announcement\", \"1,1,5\": \"ncap_tim_departure\", \"1,9,1\": \"ncap_tim_discovery_cmd\", \"1,9,2\": \"ncap_tim_discovery_rep\", \"1,1,6\": \"ncap_tim_transducer_announcement\", \"1,1,7\": \"ncap_tim_transducer_departure\", \"1,10,1\": \"ncap_tim_transducer_discovery_cmd\", \"1,10,2\": \"ncap_tim_transducer_discovery_rep\", \"3,1,1\": \"query_teds_cmd\", \"3,1,2\": \"query_teds_rep\", \"3,2,1\": \"read_teds_cmd\", \"3,2,2\": \"read_teds_rep\", \"2,2,1\": \"sync_read_block1_cmd\", \"2,2,2\": \"sync_read_block1_rep\", \"2,6,1\": \"sync_read_block_cmd\", \"2,4,1\": \"sync_read_block_multi1tim_cmd\", \"2,4,2\": \"sync_read_block_multi1tim_rep\", \"2,6,2\": \"sync_read_block_rep\", \"2,1,1\": \"sync_read_cmd\", \"2,3,1\": \"sync_read_multi1tim_cmd\", \"2,3,2\": \"sync_read_multi1tim_rep\", \"2,5,1\": \"sync_read_multi_cmd\", \"2,5,2\": \"sync_read_multi_rep\", \"2,1,2\": \"sync_read_rep\", \"2,8,1\": \"sync_write_block1_cmd\", \"2,8,2\": \"sync_write_block1_rep\", \"2,10,1\": \"sync_write_block_multi1tim_cmd\", \"2,10,2\": \"sync_write_block_multi1tim_rep\", \"2,12,1\": \"sync_write_block_multi_cmd\", \"2,12,2\": \"sync_write_block_multi_rep\", \"2,7,1\": \"sync_write_cmd\", \"2,9,1\": \"sync_write_multi1tim_cmd\", \"2,9,2\": \"sync_write_multi1tim_rep\", \"2,11,1\": \"sync_write_multi_cmd\", \"2,11,2\": \"sync_write_multi_rep\", \"2,7,2\": \"sync_write_rep\", \"3,4,1\": \"update_teds_cmd\", \"3,4,2\": \"update_teds_rep\", \"3,3,1\": \"write_teds_cmd\", \"3,3,2\": \"write_teds_rep\"};\nvar nm=NAMES[h.join(',')]||('svc '+h.join(','));var mt=h[2];\nvar dir=mt===1?'REQ \\u2192':(mt===4?'NTF \\u2190':'REP \\u2190');\nvar d=new Date();function z(n){return ('0'+n).slice(-2);}\nvar ts=z(d.getHours())+':'+z(d.getMinutes())+':'+z(d.getSeconds());\nvar line=ts+'  '+dir+'  '+nm+'\\n            '+raw.substring(0,200);\nvar KEY='msgmon_'+context.get('side');var log=flow.get(KEY)||[];log.unshift(line);if(log.length>40)log.length=40;flow.set(KEY,log);\nmsg.payload=log.join('\\n');return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 860,
        "wires": [
            [
                "f10000000000000e"
            ]
        ]
    },
    {
        "id": "f100000000000010",
        "type": "mqtt in",
        "z": "a4c183a95164db51",
        "name": "mon D0",
        "topic": "_1451.1.6/D0/PTTEST/ncap0",
        "qos": "0",
        "datatype": "auto",
        "broker": "39d5aa93d6951ccb",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 1190,
        "y": 860,
        "wires": [
            [
                "f10000000000000f"
            ]
        ]
    },
    {
        "id": "f100000000000011",
        "type": "mqtt out",
        "z": "a4c183a95164db51",
        "name": "RRS publish D0",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "39d5aa93d6951ccb",
        "x": 1720,
        "y": 920,
        "wires": []
    },
    {
        "id": "f100000000000012",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "RR-Sync request D0",
        "func": "msg.topic='_1451.1.6/RRS/REQ';\nmsg.payload='PTTEST/ncap0,'+(Date.now()/1000).toFixed(6);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 920,
        "wires": [
            [
                "f100000000000011"
            ]
        ]
    },
    {
        "id": "f100000000000013",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "d000000000000002",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "RR-Sync request (9.3)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 1250,
        "y": 920,
        "wires": [
            [
                "f100000000000012"
            ]
        ]
    },
    {
        "id": "f100000000000014",
        "type": "ui_text",
        "z": "a4c183a95164db51",
        "group": "d000000000000002",
        "order": 5,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "D0 RR-Sync offset/delay",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1750,
        "y": 980,
        "wires": []
    },
    {
        "id": "f100000000000015",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "RR-Sync calc D0",
        "func": "var t4=Date.now()/1000;var f=(''+msg.payload).split(',');\nvar t1=parseFloat(f[0]),t2=parseFloat(f[1]),t3=parseFloat(f[2]),srv=f[3]||'?';\nvar off=((t2-t1)+(t3-t4))/2, dly=(t4-t1)-(t3-t2);\nmsg.payload='server='+srv+'  offset='+off.toFixed(6)+'s  delay='+dly.toFixed(6)+'s';return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 980,
        "wires": [
            [
                "f100000000000014"
            ]
        ]
    },
    {
        "id": "f100000000000016",
        "type": "mqtt in",
        "z": "a4c183a95164db51",
        "name": "RR-Sync RES D0",
        "topic": "_1451.1.6/RRS/PTTEST/ncap0/RES",
        "qos": "0",
        "datatype": "auto",
        "broker": "39d5aa93d6951ccb",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 1220,
        "y": 980,
        "wires": [
            [
                "f100000000000015"
            ]
        ]
    },
    {
        "id": "f100000000000017",
        "type": "ui_text",
        "z": "a4c183a95164db51",
        "group": "d000000000000002",
        "order": 6,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "D0 BR-Sync epoch",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1730,
        "y": 1040,
        "wires": []
    },
    {
        "id": "f100000000000018",
        "type": "mqtt in",
        "z": "a4c183a95164db51",
        "name": "BR-Sync SYN D0",
        "topic": "_1451.1.6/BRSU/SYN",
        "qos": "0",
        "datatype": "auto",
        "broker": "39d5aa93d6951ccb",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 1220,
        "y": 1040,
        "wires": [
            [
                "f100000000000017"
            ]
        ]
    },
    {
        "id": "d000000000000004",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "M5 D0 read build",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T3=global.get('T3'),T4=global.get('T4');\nvar TIM={'3':T3,'4':T4};\nvar f=(''+msg.payload).split(',');\nvar tim=TIM[f[0]],ch=parseInt(f[1],10);\nif(!tim)return null;\nmsg.spec=[['u8',2],['u8',1],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',tim],['u16',ch],['u8',5],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 3040,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "d000000000000005",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "M5 D0 reply decode",
        "func": "var p=msg.payload;var NUL=[null,null,null,null,null,null,null,null,null,null];\nif(!Buffer.isBuffer(p)||p.length<66)return NUL;\nif(!(p[0]===2&&p[1]===1&&p[2]===2))return NUL;\nvar timLast=p[54];var ch=(p[55]<<8)|p[56];\nvar val=p.slice(57,p.length-8).toString('latin1').replace(/\\0/g,'');var fv=parseFloat(val);\nvar nm={1:'Temp',2:'Humid',3:'CO2',4:'Gauge'},un={1:'K',2:'%',3:'ppm',4:''};\nvar ex=(ch===1)?' ('+(fv-273.15).toFixed(1)+' \\u00b0C)':'';\nvar line='ch'+ch+' '+(nm[ch]||'?')+' = '+val+' '+(un[ch]||'')+ex;\nvar base=(timLast===3)?0:(timLast===4)?5:-1;var out=NUL.slice();\nif(base<0)return out;\nif(ch>=1&&ch<=4)out[base+(ch-1)]={payload:fv};\nout[base+4]={payload:line};return out;",
        "outputs": 10,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 3260,
        "wires": [
            [
                "g500000000000005"
            ],
            [
                "g500000000000006"
            ],
            [
                "d00000000000000b"
            ],
            [
                "d00000000000000c"
            ],
            [
                "d00000000000000d"
            ],
            [
                "g500000000000007"
            ],
            [
                "g500000000000008"
            ],
            [
                "d000000000000014"
            ],
            [
                "d000000000000015"
            ],
            [
                "d000000000000016"
            ]
        ]
    },
    {
        "id": "d000000000000006",
        "type": "mqtt in",
        "z": "a4c183a95164db51",
        "name": "M5 D0 reply",
        "topic": "_1451.1.6/D0/PTTEST/ncap0",
        "qos": "0",
        "datatype": "buffer",
        "broker": "39d5aa93d6951ccb",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 3260,
        "wires": [
            [
                "d000000000000005"
            ]
        ]
    },
    {
        "id": "d000000000000007",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "group": "d500000000000003",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "TIM3 Temp read",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#1565c0",
        "className": "",
        "icon": "",
        "payload": "3,1",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 300,
        "y": 3040,
        "wires": [
            [
                "d000000000000004"
            ]
        ]
    },
    {
        "id": "d000000000000008",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "group": "d500000000000003",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "TIM3 Humid read",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#1565c0",
        "className": "",
        "icon": "",
        "payload": "3,2",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 300,
        "y": 3080,
        "wires": [
            [
                "d000000000000004"
            ]
        ]
    },
    {
        "id": "d000000000000009",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "group": "d500000000000003",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "TIM3 CO2 read",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#1565c0",
        "className": "",
        "icon": "",
        "payload": "3,3",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 300,
        "y": 3120,
        "wires": [
            [
                "d000000000000004"
            ]
        ]
    },
    {
        "id": "d00000000000000a",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "group": "d500000000000003",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "TIM3 Gauge read",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#1565c0",
        "className": "",
        "icon": "",
        "payload": "3,4",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 300,
        "y": 3160,
        "wires": [
            [
                "d000000000000004"
            ]
        ]
    },
    {
        "id": "d00000000000000b",
        "type": "ui_gauge",
        "z": "a4c183a95164db51",
        "group": "d500000000000003",
        "order": 7,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "TIM3 CO2 ppm (D0)",
        "label": "CO2 (ppm)",
        "format": "{{value}}",
        "min": "400",
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1000",
        "seg2": "1500",
        "className": "",
        "x": 900,
        "y": 3040,
        "wires": []
    },
    {
        "id": "d00000000000000c",
        "type": "ui_gauge",
        "z": "a4c183a95164db51",
        "group": "d500000000000003",
        "order": 8,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "TIM3 Gauge (cmd)",
        "label": "GAUGE (0-100)",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#0094ce",
            "#0094ce",
            "#0094ce"
        ],
        "className": "",
        "x": 900,
        "y": 3100,
        "wires": []
    },
    {
        "id": "d00000000000000d",
        "type": "ui_text",
        "z": "a4c183a95164db51",
        "group": "d500000000000003",
        "order": 9,
        "width": "6",
        "height": "2",
        "name": "TIM3 Last response (D0)",
        "label": "TIM3 Last response",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 900,
        "y": 3160,
        "wires": []
    },
    {
        "id": "d00000000000000e",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "M5 D0 gauge write 3",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T3=global.get('T3'),T4=global.get('T4');\nvar v=parseInt(msg.payload,10);if(isNaN(v))return null;v=Math.max(0,Math.min(100,v));\nmsg.spec=[['u8',2],['u8',7],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T3],['u16',4],['u8',0],['str',''+v],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 3220,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "d00000000000000f",
        "type": "ui_slider",
        "z": "a4c183a95164db51",
        "name": "",
        "label": "TIM3 Gauge write (0-100)",
        "group": "d500000000000003",
        "order": 10,
        "width": "6",
        "height": "1",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 300,
        "y": 3220,
        "wires": [
            [
                "d00000000000000c",
                "d00000000000000e"
            ]
        ]
    },
    {
        "id": "d000000000000010",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "group": "d500000000000004",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "TIM4 Temp read",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#ef6c00",
        "className": "",
        "icon": "",
        "payload": "4,1",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 300,
        "y": 3480,
        "wires": [
            [
                "d000000000000004"
            ]
        ]
    },
    {
        "id": "d000000000000011",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "group": "d500000000000004",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "TIM4 Humid read",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#ef6c00",
        "className": "",
        "icon": "",
        "payload": "4,2",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 300,
        "y": 3520,
        "wires": [
            [
                "d000000000000004"
            ]
        ]
    },
    {
        "id": "d000000000000012",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "group": "d500000000000004",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "TIM4 CO2 read",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#ef6c00",
        "className": "",
        "icon": "",
        "payload": "4,3",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 300,
        "y": 3560,
        "wires": [
            [
                "d000000000000004"
            ]
        ]
    },
    {
        "id": "d000000000000013",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "group": "d500000000000004",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "TIM4 Gauge read",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#ef6c00",
        "className": "",
        "icon": "",
        "payload": "4,4",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 300,
        "y": 3600,
        "wires": [
            [
                "d000000000000004"
            ]
        ]
    },
    {
        "id": "d000000000000014",
        "type": "ui_gauge",
        "z": "a4c183a95164db51",
        "group": "d500000000000004",
        "order": 7,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "TIM4 CO2 ppm (D0)",
        "label": "CO2 (ppm)",
        "format": "{{value}}",
        "min": "400",
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1000",
        "seg2": "1500",
        "className": "",
        "x": 900,
        "y": 3480,
        "wires": []
    },
    {
        "id": "d000000000000015",
        "type": "ui_gauge",
        "z": "a4c183a95164db51",
        "group": "d500000000000004",
        "order": 8,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "TIM4 Gauge (cmd)",
        "label": "GAUGE (0-100)",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#0094ce",
            "#0094ce",
            "#0094ce"
        ],
        "className": "",
        "x": 900,
        "y": 3540,
        "wires": []
    },
    {
        "id": "d000000000000016",
        "type": "ui_text",
        "z": "a4c183a95164db51",
        "group": "d500000000000004",
        "order": 9,
        "width": "6",
        "height": "2",
        "name": "TIM4 Last response (D0)",
        "label": "TIM4 Last response",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 900,
        "y": 3600,
        "wires": []
    },
    {
        "id": "d000000000000017",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "M5 D0 gauge write 4",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T3=global.get('T3'),T4=global.get('T4');\nvar v=parseInt(msg.payload,10);if(isNaN(v))return null;v=Math.max(0,Math.min(100,v));\nmsg.spec=[['u8',2],['u8',7],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T4],['u16',4],['u8',0],['str',''+v],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 3660,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "d000000000000018",
        "type": "ui_slider",
        "z": "a4c183a95164db51",
        "name": "",
        "label": "TIM4 Gauge write (0-100)",
        "group": "d500000000000004",
        "order": 10,
        "width": "6",
        "height": "1",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 300,
        "y": 3660,
        "wires": [
            [
                "d000000000000015",
                "d000000000000017"
            ]
        ]
    },
    {
        "id": "t400000000000017",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "Block read 1ch (2,2) [D0] [T4]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',2],['u8',2],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T4],['u16',3],['u32',4],['time8'],['time8'],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1080,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "t400000000000018",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg00000000000009",
        "order": 10,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "block read 1ch (2,2) · TIM4",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#2e7d32",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 170,
        "y": 1080,
        "wires": [
            [
                "t400000000000017"
            ]
        ]
    },
    {
        "id": "t400000000000019",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "Sample multi-ch (2,3) [D0] [T4]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',2],['u8',3],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T4],['u16',3],['u16a',[1,2,3]],['u8',5],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1120,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "t40000000000001a",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg00000000000009",
        "order": 12,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "sample multi-ch read (2,3) · TIM4",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#2e7d32",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 190,
        "y": 1120,
        "wires": [
            [
                "t400000000000019"
            ]
        ]
    },
    {
        "id": "t40000000000001b",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "Block multi-ch (2,4) [D0] [T4]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',2],['u8',4],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T4],['u16',2],['u16a',[1,3]],['u32',3],['time8'],['time8'],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1160,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "t40000000000001c",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg00000000000009",
        "order": 14,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "block multi-ch read (2,4) · TIM4",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#2e7d32",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 180,
        "y": 1160,
        "wires": [
            [
                "t40000000000001b"
            ]
        ]
    },
    {
        "id": "t40000000000001d",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "Block write (2,8) [D0] [T4]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',2],['u8',8],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T4],['u16',4],['u8',5],['str',\"70;72;75\"],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1380,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "t40000000000001e",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg00000000000009",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "block write (2,8) · TIM4",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#2e7d32",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 150,
        "y": 1380,
        "wires": [
            [
                "t40000000000001d"
            ]
        ]
    },
    {
        "id": "t40000000000001f",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "Sample multi-ch wr (2,9) [D0] [T4]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',2],['u8',9],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T4],['u16',1],['u16a',[4]],['u8',5],['stra',[\"66\"]],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1420,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "t400000000000020",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg00000000000009",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "sample multi-ch write (2,9) · TIM4",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#2e7d32",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 190,
        "y": 1420,
        "wires": [
            [
                "t40000000000001f"
            ]
        ]
    },
    {
        "id": "t400000000000021",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "Block multi-ch wr (2,10) [D0] [T4]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',2],['u8',10],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T4],['u16',1],['u16a',[4]],['u8',5],['stra',[\"55;58\"]],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1460,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "t400000000000022",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg00000000000009",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "block multi-ch write (2,10) · TIM4",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#2e7d32",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 180,
        "y": 1460,
        "wires": [
            [
                "t400000000000021"
            ]
        ]
    },
    {
        "id": "t400000000000023",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "Async block (2,13) [D0] [T4]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',2],['u8',13],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T4],['u16',3],['u32',4],['time8'],['time8'],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1580,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "t400000000000024",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg0000000000000a",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "async block read (2,13) · TIM4",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#00838f",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 180,
        "y": 1580,
        "wires": [
            [
                "t400000000000023"
            ]
        ]
    },
    {
        "id": "t400000000000025",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "Async stream (2,15) [D0] [T4]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',2],['u8',15],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T4],['u16',3],['u8',5],['time8'],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1640,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "t400000000000026",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg0000000000000a",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "async stream read (2,15) · TIM4",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#00838f",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 180,
        "y": 1640,
        "wires": [
            [
                "t400000000000025"
            ]
        ]
    },
    {
        "id": "t400000000000027",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "Async block multi-ch (2,17) [D0] [T4]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',2],['u8',17],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T4],['u16',3],['u16a',[1,2,3]],['u32',3],['time8'],['time8'],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1700,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "t400000000000028",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg0000000000000a",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "async block multi-ch (2,17) · TIM4",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#00838f",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 190,
        "y": 1700,
        "wires": [
            [
                "t400000000000027"
            ]
        ]
    },
    {
        "id": "t400000000000029",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "Sub multi-ch (4,4) [D0] [T4]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',4],['u8',4],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T4],['u16',3],['u16a',[1,2,3]],['str',\"\"],['str',\"app0\"],['time8'],['time8']];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 2360,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "t40000000000002a",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg0000000000000b",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "event sub multi-ch (4,4) · TIM4",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#e65100",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 180,
        "y": 2360,
        "wires": [
            [
                "t400000000000029"
            ]
        ]
    },
    {
        "id": "t40000000000002b",
        "type": "function",
        "z": "a4c183a95164db51",
        "name": "Unsub multi-ch (4,6) [D0] [T4]",
        "func": "var APP=global.get('APP'),NCAP=global.get('NCAP'),T0=global.get('T0'),T3=global.get('T3'),T4=global.get('T4');\nmsg.spec=[['u8',4],['u8',6],['u8',1],['len'],['uuid',APP],['uuid',NCAP],['uuid',T4],['u16',3],['u16a',[1,2,3]],['u16',0]];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 2420,
        "wires": [
            [
                "ca00000000000001"
            ]
        ]
    },
    {
        "id": "t40000000000002c",
        "type": "ui_button",
        "z": "a4c183a95164db51",
        "name": "",
        "group": "fg0000000000000b",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "event unsub multi-ch (4,6) · TIM4",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#e65100",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 190,
        "y": 2420,
        "wires": [
            [
                "t40000000000002b"
            ]
        ]
    },
    {
        "id": "g500000000000005",
        "type": "ui_gauge",
        "z": "a4c183a95164db51",
        "group": "d500000000000003",
        "order": 5,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "TIM3 Temp",
        "label": "TEMP (K)",
        "format": "{{value}}",
        "min": "273",
        "max": "323",
        "colors": [
            "#2196f3",
            "#ff9800",
            "#f44336"
        ],
        "className": "",
        "x": 900,
        "y": 2960,
        "wires": []
    },
    {
        "id": "g500000000000006",
        "type": "ui_gauge",
        "z": "a4c183a95164db51",
        "group": "d500000000000003",
        "order": 6,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "TIM3 Humid",
        "label": "HUMID (%)",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b8d4",
            "#00b8d4",
            "#0091ea"
        ],
        "className": "",
        "x": 900,
        "y": 3000,
        "wires": []
    },
    {
        "id": "g500000000000007",
        "type": "ui_gauge",
        "z": "a4c183a95164db51",
        "group": "d500000000000004",
        "order": 5,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "TIM4 Temp",
        "label": "TEMP (K)",
        "format": "{{value}}",
        "min": "273",
        "max": "323",
        "colors": [
            "#2196f3",
            "#ff9800",
            "#f44336"
        ],
        "className": "",
        "x": 900,
        "y": 3400,
        "wires": []
    },
    {
        "id": "g500000000000008",
        "type": "ui_gauge",
        "z": "a4c183a95164db51",
        "group": "d500000000000004",
        "order": 6,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "TIM4 Humid",
        "label": "HUMID (%)",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b8d4",
            "#00b8d4",
            "#0091ea"
        ],
        "className": "",
        "x": 900,
        "y": 3440,
        "wires": []
    },
    {
        "id": "3a3f9853.90cc98",
        "type": "ui_group",
        "name": "D0",
        "tab": "a9846458.3ae7f8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "39d5aa93d6951ccb",
        "type": "mqtt-broker",
        "name": "hivemq.com",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fg00000000000008",
        "type": "ui_group",
        "name": "D0 Discovery (1,x)",
        "tab": "d000000000000001",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fg00000000000009",
        "type": "ui_group",
        "name": "D0 Transducer access (2,x read/write)",
        "tab": "d000000000000001",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fg0000000000000b",
        "type": "ui_group",
        "name": "D0 Event / Heartbeat (4,x)",
        "tab": "d000000000000001",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fg0000000000000a",
        "type": "ui_group",
        "name": "D0 Async access (2,13-19)",
        "tab": "d000000000000001",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fg0000000000000c",
        "type": "ui_group",
        "name": "D0 Message log",
        "tab": "d000000000000001",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d000000000000002",
        "type": "ui_group",
        "name": "Monitor & Time-sync (D0)",
        "tab": "d000000000000001",
        "order": 20,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "d500000000000003",
        "type": "ui_group",
        "name": "M5 TIM3 (D0)",
        "tab": "d000000000000001",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d500000000000004",
        "type": "ui_group",
        "name": "M5 TIM4 (D0)",
        "tab": "d000000000000001",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a9846458.3ae7f8",
        "type": "ui_tab",
        "name": "TEDS",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d000000000000001",
        "type": "ui_tab",
        "name": "D0",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5f12efed60dcb1d8",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]
